.fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    background: #bf2800;
    display: flex;
    justify-content: center;
    align-items: center;
}