.form-btn {
  background-color: #833177;
  color: #fff;
  padding: 12px 32px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100%;
}

.gp-form {
  width: 100%;
}
